
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game_container{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    padding: 2rem;
}

.box{
    background-color: aquamarine;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}